{
   "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:react/recommended", "plugin:react-hooks/recommended", "plugin:json/recommended"],
   "parserOptions": {
      "parser": "@typescript-eslint/parser",
		"ecmaVersion":"latest",
    	"requireConfigFile": true,
    	"sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "jsx-a11y", "json"],
  "root": true,
  "env": {
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
	 "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
	"no-duplicate-imports": "warn",
	"no-restricted-imports": "warn", 
	"no-mixed-requires": "warn",
	"require-await": "error",
	"semi": "warn",
    "arrow-spacing": "warn",
    "no-empty": "warn",
    "no-trailing-spaces": ["warn", { "skipBlankLines": false, "ignoreComments": true}],
    "space-before-blocks": 1,
    "no-multiple-empty-lines": ["warn", { "max": 1, "maxEOF": 0, "maxBOF": 0 }],
    "comma-dangle": 1,
    "comma-spacing": 1,
	"indent": ["warn", 4, { "SwitchCase": 1 }],
	"quotes": ["error", "single", { "allowTemplateLiterals": true }],
	"block-scoped-var": "error",
	"object-curly-newline": ["warn", {
        "ObjectExpression": { "minProperties": 1},
        "ObjectPattern": { "multiline": true },
        "ImportDeclaration": "never",
        "ExportDeclaration": { "multiline": true, "minProperties": 3 }
    }],
	"key-spacing": ["warn", { "beforeColon": false, "mode": "strict"}],
	"no-mixed-spaces-and-tabs": ["warn", "smart-tabs"],
	"space-infix-ops": "warn",
	"no-multi-spaces": "warn",
	"keyword-spacing": "warn",
	"brace-style": ["warn", "1tbs"],
    "@typescript-eslint/no-var-requires": "off",
	"@typescript-eslint/ban-types": 0,
	"@typescript-eslint/no-empty-interface": 0,	
	"@typescript-eslint/no-empty-function": 0,
	"@typescript-eslint/no-explicit-any": 0,
	"@typescript-eslint/no-non-null-assertion": 0,
	"json/*": ["error", {"allowComments": true}],
	"react-hooks/exhaustive-deps": 0
  }
}
